
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div>
            <table style="width: 30%; " border="1" align="center">
                <tr>
                    <td><label for="name"> Name :<td><%=myname%></td></label></td>
                </tr>
                <tr>  
                    <td><label for="pass"> Password :<td><%=mypassword%></td></label></td>    
                </tr>  
                <tr> 
                    <td><label for="email">e-mail :<td><%=myemail%></td></label></td>
                </tr>     
                <tr> 
                    <td><label for="numb">Mobile Number :<td><%=mycontact%></td></label></td>
                </tr>  
                <tr> 
                    <td><label for="gender">Gender :<td><%=mygender%></td></label></td>
                </tr>  
                <tr> 
                    <td><label for="dt">Date of Birth:<td><%=mybirthday%></td></label></td>
                </tr>  
                <tr> 
                    <td><label for="lang">Languages Known :<td><%=mylanguage%></td></label></td>
                </tr>  
                <tr>
                    <td><label for="area">address :<td><%=myaddress%></td></label></td>
                </tr>
                <tr>
                    <td><label for="city"></label>City :<td><%=mycity%></td></td>
                </tr> 
                <tr>
                    <td><label for="state"></label>state :<td><%=mystate%></td></td>
                </tr>
                <tr>
                    <td><label for="country"></label>country :<td><%=mycountry%></td></td>
                </tr>
            </table>
    </div>
</body>
</html>




